/* Use flexbox to align all divs in a row. Use wrap so that the divs appear on multiple rows. Center the rows in the container*/

div {
  height: 100px;
  width: 200px;
  background-color: darkgray;
  margin: 1em;
  border: 2px solid red;
  text-align: center;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Ausgangsposition: Jeder Div nimmt als Blockelement gesamte Breit ein
display: flex verschiebt die Container in >eine< Reihe
flex-wrap: bringt die Container in mehrere Zeilen */
